<section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>CONNECT WITH <span>INTELLIGENT LAB</span></h2>
        <h2>FROM AROUND THE WORLD</h2>
      </div>

      <div class="hero-section__search">
        <form id="searchForm" class="form" action="" method="get">
          <div class="form__field">
            <label for="formInput#search">Search Developers </label>
            <input class="input input--text"  type="text" name="q" placeholder="Search Room..." />
          </div>

        </form>
      </div>
    </div>
  </section>