{% extends 'base-project.html' %}
{% block title %}About 🥰{% endblock title %}
{% block style %}
<style>

</style>
{% endblock style %}
{% block body %}
    
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="{{request.GET.next}}"><i class="im im-angle-left"></i></a>
                <br>
                  
                <form action="" class="form" method="POST">
                {% csrf_token %}
                <p style="display:inline;">Are you &nbsp<h2 style="display:inline;"> sure</h2> &nbsp that you want to delete ? 😭 - {{project.title}} </p> 
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
                </form>
            </div>
        </div>
    </main>

{% endblock body %}
{% block script %}
<script>

</script>
{% endblock script %}