{% extends 'base-project.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block style %}
<style>
    .some-special{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    input[type='text'],
    input[type='email'],
    input[type='password']{
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-bg);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active{
        outline: none;
        border: 2px solid var(--color-main);
    }
</style>
{% endblock style %}
{% block body %}

    <div class="auth">
        <div class="card">
            <div class="auth__header text-center">
                <a href="/">
                    <img src="{% static 'images/icon.svg' %}" alt="icon" />
                </a>
                <h3>Forget Password?</h3>
                <p>Reset password by entering the email address</p>
            </div>

            <form method="post" class="form auth__form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form__field">
                    <label for="formInput#email">{{field.label}}: </label>
                    {{field}}
                    {% comment %} <input class="input input--email" id="formInput#email" type="email" name="email"
                        placeholder="e.g. user@domain.com" /> {% endcomment %}
                </div>
                {% endfor %}
                <input type="submit" class="btn btn--sub btn--lg" value="Submit">
                
            </form>
            <div class="auth__alternative some-special">
                <span>Already Have an Account?</span>
                <a href="{% url 'user:login' %}">Login</a>
            </div>
            <div class="auth__alternative some-special">
                <span>Don’t have an Account?</span>
                <a href="{% url 'user:register' %}">Sign Up</a>
            </div>
        </div>
    </div>  


{% endblock body %}
{% block script %}
<script>

</script>
{% endblock script %}