{% extends 'base-project.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block style %}
<style>
    .some-special{
        display:flex;
        align-items: center;
        justify-content:center;
    }

    input[type='text'],
    input[type='email'],
    input[type='password']{
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-bg);
    }

    input[type='text']:focus,
    input[type='email']:focus,
    input[type='password']:focus,
    input[type='text']:active,
    input[type='email']:active,
    input[type='password']:active{
        outline: none;
        border: 2px solid var(--color-main);
    }
</style>
{% endblock style %}
{% block body %}

    <div class="auth" style="margin:0;">
        <div class="card">
            <div class="auth__header text-center">
                <h3>Password reset complete</h3>
                <p>Your password has been set. You may go ahead and log in now.</p>
            </div>
            <div class="auth__alternative some-special">
                <a class="btn btn--sub btn--lg" href="{% url 'user:login' %}">Login</a>
            </div>
        </div>
    </div>  


{% endblock body %}
{% block script %}
<script>

</script>
{% endblock script %}